server:
  port: ${PORT:8080}

spring:
  application:
    name: api-gateway

  webflux:
    cors:
      allowed-origins:
        - http://localhost:5173
        - http://localhost:3000
        - https://tiffine-online.netlify.app
      allowed-methods:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
        - OPTIONS
      allowed-headers:
        - Authorization
        - Content-Type
        - X-USER-ID
        - X-ROLE
        - X-INTERNAL-KEY
      exposed-headers:
        - Authorization
      allow-credentials: true

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: https://online-food-eureka-server-avdz.onrender.com/eureka

management:
  endpoints:
    web:
      exposure:
        include: health
