server:
  port: ${PORT:8080}

spring:
  application:
    name: tiffin-provider-service

  data:
    mongodb:
      uri: ${MONGODB_URI}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL}

management:
  endpoints:
    web:
      exposure:
        include: health

gateway:
  secret: ${GATEWAY_INTERNAL_SECRET}
