server:
  port: ${PORT:8080}

spring:
  application:
    name: subscription-service

  data:
    mongodb:
      uri: ${MONGODB_URI}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL}

management:
  endpoints:
    web:
      exposure:
        include: health

logging:
  level:
    org.springframework.web: INFO
