server:
  port: 8083

spring:
  application:
    name: subscription-service

  data:
    mongodb:
      uri: mongodb+srv://subscription-service:2RszSHZhSwI00PJD@subscription-service.tqj0drk.mongodb.net/?retryWrites=true&w=majority
      database: subscription-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true

logging:
  level:
    org.springframework.web: INFO
