server:
  port: ${PORT:8080}

spring:
  application:
    name: user-service

  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: user-service-db

management:
  endpoints:
    web:
      exposure:
        include: health,info

eureka:
  instance:
    prefer-ip-address: true
  client:
    enabled: true
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: https://online-food-eureka-server-avdz.onrender.com/eureka
