server:
  port: ${PORT:8081}

spring:
  application:
    name: user-service

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}  # Set this in your environment variables
    password: ${MAIL_PASSWORD}  # Set this in your environment variables
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: user-service-db

management:
  endpoints:
    web:
      exposure:
        include: health,info

eureka:
  instance:
    prefer-ip-address: true
  client:
    enabled: true
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_URL}

jwt:
  secret: ${JWT_SECRET}

gateway:
  secret: ${GATEWAY_INTERNAL_SECRET}
