server:
  port: 8084

spring:
  application:
    name: menu-service

  data:
    mongodb:
      uri: mongodb+srv://princekr3006_db_user:EpIrer7hknjveFXV@menu-service.hj7va3e.mongodb.net/?retryWrites=true&w=majority&appName=menu-service
      database: menu-service

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    org.springframework.web: INFO
    org.springframework.data.mongodb.core.MongoTemplate: INFO
