server:
  port: ${PORT:8080}

spring:
  application:
    name: menu-service

  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: menu-service-db

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL}

management:
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.web: INFO
    org.springframework.data.mongodb.core.MongoTemplate: INFO
