server:
  port: 8081

spring:
  application:
    name: restaurant-service

  # MongoDB configuration
  data:
    mongodb:
      uri: "mongodb+srv://princekr3006_restaurant-service:naq8BSjygtffzPf2@restaurant-service.xtfnhar.mongodb.net/foodapp?retryWrites=true&w=majority"
